@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
  }
  .slide-in-right {
    transform: translateX(100%);
    opacity: 0;
  }
  .slide-out-left {
    transform: translateX(100%);
    opacity: 0;
  }
  .slide-out-right {
    transform: translateX(-100%);
    opacity: 0;
  }
  .transition-transform {
    transform: translateX(0);
    opacity: 1;
  }
  
